:80 {
    reverse_proxy * smartkotkot:3000

    route /rtsp/www/stream.html {
          uri strip_prefix rtsp
          reverse_proxy go2rtc:8184 {
              header_up X-Real-IP {remote}
          }
    }
}
