:80 {
    reverse_proxy * smartkotkot:3000

    route /rtsp/stream/*/channel/*/webrtc {
          uri strip_prefix rtsp
          reverse_proxy  {env.DOCKER_HOST_ADDRESS}:8083 {
              header_up X-Real-IP {remote}
          }
    }
}
